.jumbotron{
    text-align: center;
    color: seagreen;
}

table{
    text-align: center;
}

img{
    width: 940px;
    height: 740px;
    border: 2px dashed lightseagreen;
    margin: auto;
}

p{
    text-align:justify;
}

figure img{
    border:none;
}