table{
    text-align: center;
}

img{
    width: 450px;
    height: 350px;
    border: 2px dashed lightseagreen;
}

p{
    text-align:justify;
}

figure img{
    border:none;
}

h2{
    text-decoration: dodgerblue;
}

h3{
    text-decoration: darkorange;
}