table{
    text-align: center;
}

img{
    width: 500px;
    height: 350px;
    border: 2px dashed lightseagreen;
}

p{
    text-align:justify;
}

figure img{
    border:none;
}

.container-fluid h2{
    text-decoration: dodgerblue;
}

h3{
    text-decoration: darkorange;
}

*{
    padding-left: 30px;
    padding-right: 30px;
}